@use '../../../styles/mixins' as m;
@use '../../../styles/typography' as t;
@use '../../../styles/variables' as v;

.header {
  @include m.site-padding;

  align-items: center;
  background-color: v.$background-color;
  border-bottom: 1px solid v.$light-gray;
  display: grid;
  gap: 45px;
  grid-template-columns: 1fr 1fr;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 10;
}

.logo {
  margin-bottom: 0;

  @media screen and (v.$mobile) {
    flex: 0 0 50%;
  }

  a {
    border: none;
  }
}
