@use '../../../styles/variables' as v;
@use '../../../styles/typography' as t;

.header {
  align-items: center;
  background-color: v.$background-color;
  border-bottom: 1px solid v.$light-gray;
  display: grid;
  gap: 45px;
  grid-template-columns: 1fr 1fr;
  left: 0;
  padding: 15px v.$padding;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 10;

  @media screen and (max-width: 600px) {
    padding: 15px v.$mobile-padding;
  }
}

.logo {
  margin-bottom: 0;

  @media screen and (v.$mobile) {
    flex: 0 0 50%;
  }

  a {
    border: none;
  }
}
