// Colors
$beige: #f2eee8;
$modern: #f5f1ed;
$new: #f5efe6;

$ivory: #fefdf3;
$light-gray: #c3c3c0;
$medium-gray: #999;
$dark-gray: #404041;
$black: #101010;
$white: #fff;

// Colors
$primary: #1565c0;
$secondary: #fdbf42;

$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

$links: $primary;
$border: #000;
$hover: $primary;

// Background Colors
$background-color: $new;
$bg: $background-color;

// Font Colors
$base-font-color: $dark-gray;
$heading-font-color: $black;
$action-color: $dark-gray;
$alert-color: transparent;
$color-selection: $light-gray;

// Breakpoints
$mobile: "max-width: 600px";
$small: "max-width: 768px";
$large: "min-width: 769px";

$laptop: "max-width: 1260px";
$tablet: "max-width: 768px";
$mobile-lg: "max-width: 640px";
$mobile-sm: "max-width: 480px";

$padding: 45px;
$mobile-padding: 20px;

// Typography
@import url("https://fonts.googleapis.com/css?family=Inter:300,400,500|Montserrat:300,400,500|Roboto:300,400,500&display=swap");
$montserrat: "Montserrat", sans-serif;
$inter: "Inter", sans-serif;
$roboto: "Roboto", sans-serif;
$base-font-family: $roboto; // 'Helvetica Neue', Helvetica, Arial;
$heading-font-family: $base-font-family;

// Line Height
$base-line-height: 1.75;
$heading-line-height: 1.2;

// Spacing
$letter-spacing: 2.4px;
$bottom: 6em;

// Font Weight
$base-font-weight: 400;
$heading-font-weight: $base-font-weight;

// Other Sizes
$base-border-radius: 0px;
$base-spacing: 1.5em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Border
$base-border-color: $heading-font-color;
$base-border: 1px solid $base-border-color;

// Focus
$focus-outline-color: transparentize($action-color, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Transitions
$base-duration: 300ms;
$base-timing: ease-in-out;
