@use '../../../styles/mixins' as m;
@use '../../../styles/typography' as t;
@use '../../../styles/variables' as v;

.container {
  @include m.site-padding;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.backToHome {
  margin: 3rem 0 0;
}
