@use '../../../styles/variables' as v;
@use '../../../styles/typography' as t;

.item {
  display: inline;

  &:first-child:after {
    content: '/';
    padding: 0 5px 0 6px;
  }

  a {
    border: none;
  }
}

.list {
  padding: 0;
}
